body {
  padding: 2em;
  font-size: 85%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

#flex-container {
  display: flex;
  width: 70%;
  align-items: flex-start;
  flex-flow: row wrap;
  display: -webkit-flex;
  /* Safari */
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/***************** NAV *****************/

nav {
  background-color: #ADD8E6;
  margin: auto;
  text-align: center;
  padding: 1% 0;
  text-decoration: none;
  width: 100%;
  font-size: 2em;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
  white-space: nowrap;
}


h1 .logo-w {
  font-size: 3.5rem;
  color: aliceblue;
  font-weight: 600;
}

.logo-title {
  color: skyblue;
  font-weight: 600;
  font-size: 250%;
}

.logo-f::first-letter {
  color: aliceblue;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

aside {
  width: 20%;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  /*text-align: center;
    */
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.product {
  background-color: #ffffff;
  height: 35%;
  width: 27%;
  margin: 1%;
  border: outset #ADD8E6;
  padding: 1%;
  /* flex-shrink: inherit;
     flex-grow: inherit;
     */
}

h3.product {
  text-align: justify;
  padding-bottom: 1%;
}

.price {
  text-align: center;
  color: #e82918;
  margin: 1%;
  border: 0;
}

.m-stars {
  text-align: center;
  margin: 1%;
}

button {
  background-color: cornflowerblue;
  border-radius: 50%;
  color: white;
}

.p-img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}
